<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">
      <mat-toolbar style="background-color:black" class="text-white"></mat-toolbar>
      <mat-nav-list style="background-color:black" class="text-white">
        <a mat-list-item href="#">Menu</a>
        <mat-nav-list style="background-color:black" class="text-white">
          <a mat-list-item routerLink="home" routerLinkActive="active"><mat-icon aria-label="Side nav home" class="side_icon">home</mat-icon>Home</a>
          <a mat-list-item routerLink="trending" routerLinkActive="active"><mat-icon aria-label="Side nav home" class="side_icon">whatshot</mat-icon>Trending</a>
          <a mat-list-item routerLink="subscriptions" routerLinkActive="active"><mat-icon aria-label="Side nav home" class="side_icon">subscriptions</mat-icon>Subscriptions</a>
          <a mat-list-item href="#"><mat-icon aria-label="Side nav home" class="side_icon">surround_sound</mat-icon>Live</a>
        </mat-nav-list>
        <a mat-list-item href="#">Library</a>
        <mat-nav-list style="background-color:black" class="text-white">
          <a mat-list-item href="#"><mat-icon aria-label="Side nav home" class="side_icon">replay</mat-icon>History</a>
          <a mat-list-item href="#"><mat-icon aria-label="Side nav home" class="side_icon">queue_play_next</mat-icon>Queue</a>
          <a mat-list-item href="#"><mat-icon aria-label="Side nav home" class="side_icon">thumb_up</mat-icon>Liked Videos</a>
        </mat-nav-list>
        <a mat-list-item href="#">Playlists</a>
        <mat-nav-list style="background-color:black" class="text-white">
          <a mat-list-item href="#"><mat-icon aria-label="Side nav home" class="side_icon">playlist_play</mat-icon>Daily vlogs</a>
        </mat-nav-list>
        <a mat-list-item href="#">More</a>
        <mat-nav-list style="background-color:black" class="text-white">
          <a mat-list-item href="#"><mat-icon aria-label="Side nav home" class="side_icon">settings</mat-icon>Settings</a>
          
          <a mat-list-item href="#"><mat-icon aria-label="Side nav home" class="side_icon">help</mat-icon>Help</a>
          <a mat-list-item href="#"><mat-icon aria-label="Side nav home" class="side_icon">feedback</mat-icon>Feedback</a>
        </mat-nav-list>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar style="background-color:black">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <img src="yt_logo_rgb_dark.png" alt="YouTube" height="30" width="100">
      
      <form class="navbar-form navbar-left">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" name="search"  style="background-color:rgb(44, 44, 44);">
          <div class="input-group-btn">
            <button class="btn btn-default" style="background-color:rgb(44, 44, 44);">
              <i class="glyphicon glyphicon-search" style="color:rgb(255, 255, 255);" (click)="onSearch()"></i>
            </button>
          </div>
        </div>
      </form>
    
        <span></span>
      </mat-toolbar>
      <!-- Add Content Here -->
    </mat-sidenav-content>
  </mat-sidenav-container>

  <router-outlet></router-outlet>
</body>
</html>