<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body style="background-color:black">

<div class="container">

  <div class="row">
  
    <div class="col-sm-2">
        
          <div class="card-body">
            <img src="ytmusic.png" height="100px" width="100px" class="card_body_back">
            <h5 class="card-title text-white">Music</h5>
          </div>
    </div>

    <div class="col-sm-2">
        
        <div class="card-body">
          <img src="ytgame.png" height="100px" width="100px" class="card_body_back">
          <h5 class="card-title text-white">Gaming</h5>
        </div>
  </div>

  <div class="col-sm-2">
        
      <div class="card-body">
        <img src="ytnews.png" height="100px" width="100px" class="card_body_back">
        <h5 class="card-title text-white">News</h5>
      </div>
</div>

<div class="col-sm-2">
        
    <div class="card-body">
      <img src="movies.png" height="100px" width="100px" class="card_body_back">
      <h5 class="card-title text-white">Movies</h5>
    </div>
</div>
      
  </div>


  <div class="row">
      <div class="col-sm-12">
        
        <table class="table table_back" >
              <tbody>
                <tr>       
                  <td><img src="t1.webp" class="trending_gif"></td>
                  <h3 class="text-white">Total Dhamaal | Peeche Mat Dhekna Promo | Ajay | Boman | Sanjay | Indra Kumar | Feb. 22nd</h3>
                  <h4 class="text-white">FoxStarHindi 3.6M views 1 day ago</h4>
                  <h5 class="text-white">The journey to the wildest adventure of the year begins this Friday! It's time for #TotalDhamaal Fox Star Studios Presents In Association With Ajay Devgn Ffilms & Maruti International Directed By..</h5>
                </tr>
                <tr>       
                    <td><img src="t2.webp" class="trending_gif"></td>
                    <h3 class="text-white">DNA: What India can do after Pulwama attack ?                      </h3>
                    <h4 class="text-white">Zee News
                        10M views
                        2 days ago</h4>
                    <h5 class="text-white">Indian PM Modi has given freedom to the Indian army to retaliate against Pulwama attack. What are India's options to make Pakistan pay for Pulwama attack? About Channel: Zee News is a Hindi new...</h5>
                  </tr>
                  <tr>       
                      <td><img src="t3.webp" class="trending_gif"></td>
                      <h3 class="text-white">मुस्लिम समुदाय की पाकिस्तान को चेतावनी!

                        </h3>
                      <h4 class="text-white">India Today Social
                          1.7M views
                          1 day ago</h4>
                      <h5 class="text-white">
                          मुस्लिम समुदाय की पाकिस्तान को चेतावनी, हाथ मे तिरंगा लेकर पुलवामा में शहीद हुए जवानों को श्रद्धांजलि देते हुए जब पुरानी दिल्ली के फतेहपुरी मस्जिद में मुस्लिम बच्चों और बड़ों ने मांगी दुआ. देखिए आज..</h5>
                    </tr>
                    <tr>       
                        <td><img src="t4.webp" class="trending_gif"></td>
                        <h3 class="text-white">देश मांगे बदला : पुलवामा के बदले पाकिस्तान को चीर दो ! देखिए बड़ी बहस | ABP News Hindi
  
                          </h3>
                        <h4 class="text-white">ABP NEWS HINDI
                            6.6M views
                            2 days ago</h4>
                        <h5 class="text-white">
                            पुलवामा हमले के सिलसिले में 7 संदिग्धों को पुलिस ने पकड़ा है, पूछताछ की जा रही है. पुलिस ने आत्मघाती हमले की योजना से जुड़े होने के संदेह में इन युवकों को पुलवामा और अवंतीपुरा से हिरासत में लिया है...</h5>
                      </tr>
              </tbody>

        </table>
    </div>    

  </div>
</div>
</body>
</html>
