<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body style="background-color:black" >

<div class="container">
    
    <div class="row">
        <div class="col-sm-6">
            <div class="card card_body_back card">
                <div class="card-header text-white">
                  <img src="nature.jpg" height="250px" width="500px">
                </div>
                <div class="card-body card_body_back">
                  <h5 class="card-title text-white">Nature</h5>
                  <p class="card-text text-white">1.5M views . 7 days ago</p>
                </div>
              </div>
        </div>
        <div class="col-sm-6">
            <div class="card card_body_back card">
                <div class="card-header text-white">
                  <img src="nature.jpg" height="250px" width="500px">
                </div>
                <div class="card-body card_body_back">
                  <h5 class="card-title text-white">Nature</h5>
                  <p class="card-text text-white">1.5M views . 7 days ago</p>
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card mb-3 card_body_back card" style="max-width: 18rem;">
                <div class="card-header text-white">
                  <img src="mkbhd.jpg" height="100px" width="180px">
                </div>
                <div class="card-body card_body_back">
                  <h5 class="card-title text-white">MKBHD</h5>
                  <p class="card-text text-white">1.5M views . 2 days ago</p>
                </div>
              </div>
        </div>
        <div class="col-sm-3">
          <div class="card mb-3 card_body_back card" style="max-width: 18rem;">
            <div class="card-header text-white">
              <img src="bb.jpg" height="100px" width="130px">
            </div>
            <div class="card-body card_body_back">
              <h5 class="card-title text-white">BB Ki Vines</h5>
              <p class="card-text text-white">1.5M views . 7 days ago</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card mb-3 card_body_back card" style="max-width: 18rem;">
            <div class="card-header text-white">
              <img src="tvsp.jpg" height="100px" width="180px">
            </div>
            <div class="card-body card_body_back">
              <h5 class="card-title text-white">T-series vs PewDiePie</h5>
              <p class="card-text text-white">1.5M views . 7 days ago</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card mb-3 card_body_back card" style="max-width: 18rem;">
            <div class="card-header text-white">
              <img src="mkbhd.jpg" height="100px" width="180px">
            </div>
            <div class="card-body card_body_back">
              <h5 class="card-title text-white">Nature</h5>
              <p class="card-text text-white">1.5M views . 7 days ago</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card mb-3 card_body_back card" style="max-width: 18rem;">
            <div class="card-header text-white">
              <img src="tvsp.jpg" height="100px" width="180px">
            </div>
            <div class="card-body card_body_back">
              <h5 class="card-title text-white">Nature</h5>
              <p class="card-text text-white">1.5M views . 7 days ago</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card mb-3 card_body_back card" style="max-width: 18rem;">
            <div class="card-header text-white">
              <img src="nature.jpg" height="100px" width="180px">
            </div>
            <div class="card-body card_body_back">
              <h5 class="card-title text-white">Nature</h5>
              <p class="card-text text-white">1.5M views . 7 days ago</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card mb-3 card_body_back card" style="max-width: 18rem;">
            <div class="card-header text-white">
              <img src="mkbhd.jpg" height="100px" width="180px">
            </div>
            <div class="card-body card_body_back">
              <h5 class="card-title text-white">Nature</h5>
              <p class="card-text text-white">1.5M views . 7 days ago</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card mb-3 card_body_back card" style="max-width: 18rem;">
            <div class="card-header text-white">
              <img src="bb.jpg" height="100px" width="130px">
            </div>
            <div class="card-body card_body_back">
              <h5 class="card-title text-white">Nature</h5>
              <p class="card-text text-white">1.5M views . 7 days ago</p>
            </div>
          </div>
        
        </div>
      </div>
  
      
  
      
</div>


</body>
</html>
